---
layout: layouts/site.njk
permalink: /index.html
---

<h1>Bibiane Zimba <em>Musikerin</em>, Pianistin, Singer & <em>Songwriter</em></h1>
<p>Tiramisu soufflé cupcake sugar plum muffin bear claw. Toffee powder candy canes candy canes apple pie pie jelly beans sugar plum. Cupcake marzipan dragée ice cream cheesecake apple pie.</p>
<p>Dessert donut bonbon marshmallow chocolate sweet roll shortbread. Bear claw pastry danish topping cotton candy liquorice. Toffee tiramisu cake chocolate danish candy icing. Bear claw pastry danish topping cotton candy liquorice. Toffee tiramisu cake chocolate danish.</p>